<?xml version="1.0" encoding="utf-8"?>
<robot name="cell" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>

  <!-- Manfrotto -->
  <xacro:include filename="$(find kuka_control)/models/manfrotto/manfrotto.xacro" />

  <xacro:manfrotto name="manfrotto" parent="base_link">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
  </xacro:manfrotto>

</robot>
