<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="gazebo" default="false" />

  <!-- Rviz to vizualize robot -->
  <!--<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find kuka_control)/rviz/control.rviz'" />-->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find kuka_control)/rviz/gazebo.rviz'" if="$(arg gazebo)" />
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find kuka_control)/rviz/kinect.rviz'" unless="$(arg gazebo)" />

</launch>
