<?xml version="1.0"?>
<robot name="kuka_kr6r900sixx" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Gazebo Tags -->
  <xacro:arg name="gazebo" default="true"/>
  <xacro:if value="$(arg gazebo)">
    <xacro:include filename="$(find kuka_description)/urdf/kr6r900sixx.gazebo.xacro" />
  </xacro:if>

  <!-- Include Kuka KR6 model -->
  <xacro:include filename="$(find kuka_description)/urdf/kr6r900sixx.xacro" />
  
  <!-- Include brida model -->
  <xacro:include filename="$(find kuka_control)/models/brida/brida.xacro"/>

  <xacro:brida parent="tool0" name="brida">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:brida>
  
  <!-- Include the force-torque-sensor model -->
  <xacro:include filename="$(find kuka_control)/models/ft_sensor/ft_sensor_ati.urdf.xacro"/>

  <xacro:ft_sensor_axia80_real parent="brida_link" name="axia80" type="axia80">
    <origin xyz="0 0 0.019" rpy="0 0 0"/>
  </xacro:ft_sensor_axia80_real>
  
  <!-- Include tool model -->
  <xacro:include filename="$(find kuka_control)/models/tool/tool.xacro"/>

  <xacro:tool parent="axia80_ft_measure" name="tool">
    <origin xyz="0 0 0.013" rpy="0 0 0"/>
  </xacro:tool>

</robot>
