<?xml version="1.0" ?>
<robot name="kuka_kr6r900sixx_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
<!-- GAZEBO -->

  <!-- World frame (for Gazebo) -->
  <link name="world"/>

  <!-- Arm fixed to world frame  -->
  <joint name="world_foot_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

<!-- ros_control plugin -->
  <gazebo>
    <plugin name="kuka_ros_control" filename="libgazebo_ros_control.so">
      <!--<robotNamespace>kr6</robotNamespace>-->
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <controlPeriod>0.001</controlPeriod> <!-- Gazebo Default -->
    </plugin>
  </gazebo>
  
<!-- Joint damping -->
<!--
  <gazebo reference="joint_a1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_a2">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_a3">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_a4">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_a5">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_a6">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
-->

<!--Transmission and actuators-->
  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_a1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_a2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_a3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_a4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_a5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_a6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
